

<form action="/users" method="POST">
    Username: <input type="string" name="username">
</br>
   Email: <input type="string" name="email">
</br>
   Gossip <input type="text" name="bio">
</br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</br>
  <input type="submit" value="Envoyer le formulaire">
</form>


<%= form_for @users, url: {action: "create"} do |f| %>
    
    Username: <%= f.text_field :username %>
    Email: <%= f.text_field :email %>
    Gossip: <%= f.text_area :bio %>
    <%= f.submit%>

<% end %>



